version: '3.5'
services:
  {{ postgres_item.key }}:
    container_name: {{ postgres_item.key }}
    image:  {{ postgres_current.image }}
    restart: always
    command: {{ postgres_current.command }}
    shm_size: {{ postgres_current.shm_size }}  # Разделяемая память, по умолчанию 64MB. 
    ports:
      - "{{ postgres_current.port }}:5432/tcp"
    volumes:
      - {{ postgres_current.data }}:/var/lib/postgresql/data:rw
    env_file: ./pg-{{ postgres_item.key }}.env
    stop_grace_period: 3m
