version: '3.5'

services:
     
  web:
    container_name: zbx_web
    image:    {{ zbx_web_image }}
    restart:  {{ docker_restart_policy }}
    ports:
{% if zbx_web_https %}
      - "443:8443"
{% else %}
      - "80:8080"
{% endif %}
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - /etc/timezone:/etc/timezone:ro
      - ./ssl:/etc/ssl/nginx:ro
      - ./modules/:/usr/share/zabbix/modules/:ro
      - ./info:/usr/share/zabbix/info:ro
      # - keys:/etc/ssl/postgres:ro
    env_file:
      - ./env_db
      - ./env_web
    tmpfs: /tmp            # Это по идее должно ускорять работу образа
    sysctls:
      - net.core.somaxconn=65535
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8080/ping"]
      interval: 10s
      timeout: 5s
      retries: 3
      start_period: 30s
    stop_grace_period: {{ zbx_web_stop_grace_period }}
    networks:
      front:

networks:
  front:
    driver: bridge
    driver_opts:
      com.docker.network.enable_ipv6: "false"


