version: '3.8'
services:
    jupyter:
{% if jupyter_requirements_content is defined and jupyter_requirements_content != omit %}
        image: custom_jupyter:latest
{% else %}
        image: {{ jupyter_image }}
{% endif %}
        ports:
        - "{{ jupyter_port }}:8888"
        volumes:
        - {{ jupyter_notebook }}:/home/jovyan/work
        command: start-notebook.sh {{ jupyter_opts }}
