[Unit]
Description=Zabbix service (Ansbile managment)
Requires=docker.service
After=docker.service

[Service]
Restart=always
RestartSec=5
User={{ zbx_user }}
WorkingDirectory={{ zbx_path }}
# Shutdown container (if running) when unit is started
ExecStartPre=/usr/bin/docker compose -f docker-compose.yml down
# Start container when unit is started
ExecStart=/usr/bin/docker compose -f docker-compose.yml up
# Stop container when unit is stopped
ExecStop=/usr/bin/docker compose -f docker-compose.yml down

[Install]
WantedBy=multi-user.target