
password    requisite                   pam_pwhistory.so {{ 'enforce_for_root' if sec_pass_enforce_for_root }} remember={{ sec_pass_remember }}
password    requisite                   pam_cracklib.so {{ 'gecoscheck' if sec_pass_gecoscheck else '' }} {{ 'enforce_for_root' if sec_pass_enforce_for_root else '' }} minlen={{ sec_pass_minlen }} lcredit={{ sec_pass_lcredit }} ucredit={{ sec_pass_ucredit }} dcredit={{ sec_pass_dcredit }} ocredit={{ sec_pass_ocredit }} retry=3 difok=3
password    [success=1 default=ignore]	pam_unix.so obscure use_authtok try_first_pass gost12_512
password    requisite			pam_deny.so
password    required			pam_permit.so
